.about {
    height: 100vh;
    max-width: 100vw;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}